@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: 'Cinzel', serif;
  color: #e8c46a;

  background-color: #2c1a06;

  /* Textura de pergamino/piedra  */
  background-image:
    url('https://www.transparenttextures.com/patterns/asfalt-dark.png');

  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.75);
}


